
{% extends 'base.html' %}

{% block title %}远程主机监控{% endblock %}

{% block content %}
    <div class="container">
	<div class="title"><h1>远程主机监控</h1></div>
	<div class="main">

		<div class="box">
            <!--<form name="form1" method="post" action="/master/user/repass" onsubmit="javascript:return $.form.post(this);">-->
            <form id="formaction" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="edit-box">
                <tbody>
                <tr>
                    <td width="120" valign="top" style="line-height:36px">主机选择：</td>
                    <td width="155">
                        <select id="hostname" class="form-input">
                            <option value="">主机名</option>
                            {% for hostip in hostinfo  %}
                            <option value="{{ hostip.id }}">{{ hostip.hostname }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td width="83">
                        <select id="status" class="form-input">
                            <option value="">上线状态</option>
                            {% for choice in status_obj  %}
                            <option value="{{ forloop.counter0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td width="65">
                        <select id="hostgroup" class="form-input">
                            <option value="">主机组</option>
                            {% for hg in hostgroup  %}
                            <option value="{{ hg.id }}">{{ hg.name }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    <td><input type="button" id="execute" class="btn btn-blue btn-float r15" value="开始监控"/></td>
                    <td  valign="top" style="line-height:36px">想看到真实的结果请在创建主机时填写真实的主机信息</td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
        <div id="echart">
            <!--<div class="box" style="background:#fff;margin: 10px 0 0 0;text-align: center;background: #3d7fd3;color: #fff;">localhost.localdomain</div>
            <div class="box"  style="background:#fff;">
                <div id="cpu_use" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>
                <div id="mem_use" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>
                <div id="disk_use" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>

            </div>-->
        </div>
    </div>
</div>

<script src="/static/js/echarts.js"></script>
<script>
    $('#execute').click(function () {
        hostname = $('select#hostname option:selected').val();
        status = $('select#status option:selected').val();
        hostgroup = $('select#hostgroup option:selected').val();
        $.ajax({
            url:'/master/host/monitor/',
            type:'POST',
            data:{'hostname':hostname,'status':status,'hostgroup':hostgroup},
            success:function (data) {
                //data = JSON.parse(data);
                //console.log(data['host0']['num0']);

                for(var index in data){
                    console.log(index);
                    console.log('kkkk----');
                    num0 = data[index]['num0'];//cpu_use
                    num1 = data[index]['num1'];//mem_use
                    num2 = data[index]['num2'];//disk_use
                    cpu_use = "cpu_use"+index;
                    mem_use = "mem_use"+index;
                    disk_use = "disk_use"+index;
                    document.writeln('<div class="box" style="background:#fff;margin: 10px 0 0 0;text-align: center;background: #3d7fd3;color: #fff;">'+index+'</div>');
                    document.writeln('<div class="box"  style="background:#fff;">');
                    document.writeln('  <div id="'+cpu_use+'" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>');
                    document.writeln('  <div id="'+mem_use+'" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>');
                    document.writeln('  <div id="'+disk_use+'" style="width: 32%;height:350px;border:1px solid #dddddd;float: left;margin-right: 8px;background:#fff;"></div>');
                    document.writeln('</div>');
                    //CPU使用率[gauge图形]
                    var cpu_use = echarts.init(document.getElementById(cpu_use));
                    option_cpu = {
                        title:{left:'center',text:'CPU使用率'},
                        tooltip:{formatter:"{a} <br/>{b}:{c}%"},
                        toolbox:{feature:{dataZoom:{yAxisIndex: 'none'},restore:{},saveAsImage:{}}},
                        series:[
                            {
                                name:'CPU使用率',
                                type:'gauge',
                                detail:{formatter:'{value}%'},
                                data:[{value:num0,name:'CPU使用率'}],
                            }
                        ],
                    };
                    cpu_use.showLoading();//显示加载中
					setInterval(function(){//两秒后再执行此函数
						cpu_use.hideLoading();
						cpu_use.setOption(option_cpu,true);
					},2000);
                    

                    //内存状况[pie图形]
                    var mem_use = echarts.init(document.getElementById(mem_use));
                    option_mem = {
                        title:{left:'center',text:'内存状况'},
                        tooltip:{formatter:"{a} <br/>{b}:{c}%"},
                        toolbox:{feature:{dataZoom:{yAxisIndex: 'none'},restore:{},saveAsImage:{}}},
                        series:[
                            {
                                name:'内存状况',
                                type:'pie',
                                radius: '65%',
                                //roseType: 'angle',
                                detail:{formatter:'{value}%'},
                                data:[
                                    {value:(4-num1)/4*100,name:'已使用'},
                                    {value:num1/4*100,name:'剩余内存'},
                                ],
                            }
                        ],
                    };
                    mem_use.setOption(option_mem,true);


                    //磁盘状况[pie图形]
                    var disk_use = echarts.init(document.getElementById(disk_use));
                    option_disk = {
                        title:{left:'center',text:'磁盘状况'},
                        tooltip:{formatter:"{a} <br/>{b}:{c}%"},
                        toolbox:{feature:{dataZoom:{yAxisIndex: 'none'},restore:{},saveAsImage:{}}},
                        series:[
                            {
                                name:'磁盘状况',
                                type:'pie',
                                radius: '65%',
                                //roseType: 'angle',
                                detail:{formatter:'{value}%'},
                                data:[
                                    {value:num2,name:'已使用'},
                                    {value:100-num2,name:'剩余磁盘'},
                                ],
                            }
                        ],
                    };
                    disk_use.setOption(option_disk,true);




                }
            }
        });



    })


</script>
{% endblock %}